body{
    background-image: url(fondo\ de\ corazonesjpg);
}

#titulo1{
    display: block;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    height: 300px;
    width: 300px;
    background-image: url(https://pbs.twimg.com/media/FMqy9T6VUAIIw4l?format=jpg&name=small);
    border-radius: 30px;    
    text-align: center;
    margin: auto;
    margin-top: 200px;
    box-shadow: 3px 3px 3px 3px black;
}

#oli{
    display: block;
    margin-top: 100px;
    color:  black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}